<mat-nav-list>
  <a *ngIf="isAuth$ | async" mat-list-item routerLink="/training" (click)="onItemClicked()" routerLinkActive="is-active">
    <mat-icon>fitness_center</mat-icon>
    <span class="sidebar-item-name">Training</span>
  </a>
  <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/signup" (click)="onItemClicked()" routerLinkActive="is-active">
    <mat-icon>person_add</mat-icon>
    <span class="sidebar-item-name">Sign up</span>
  </a>
  <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/login" (click)="onItemClicked()" routerLinkActive="is-active">
    <mat-icon>account_circle</mat-icon>
    <span class="sidebar-item-name">Login</span>
  </a>
  <a *ngIf="isAuth$ | async" mat-list-item (click)="onItemClicked(); onLogout()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="sidebar-item-name">Logout</span>
  </a>
</mat-nav-list>
