<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input matInput type="email" placeholder="Email" ngModel #emailInput="ngModel" name="email" email required>
      <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email must have a valid format</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" ngModel #passwordInput="ngModel" name="password" minlength="6" required>
      <mat-error *ngIf="passwordInput.hasError('required')">Password is required</mat-error>
    </mat-form-field>

    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary">Login</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
